#audio-player {
    width: 100%;
    background-color: rgba(1, 1, 1, .25);
    border-radius: $titles-font-size;
    padding: 1rem;
    cursor: pointer;
    margin-top: 1rem;
    position: relative;
    z-index: 1;
    overflow: hidden;
    //outline: 2px solid white;

    audio {
        display: none;
    }

    .player {
        @include flexMid;
        justify-content: space-between;
    }


    .scroll-title {
        //overflow: hidden;
        width: 85%;
        //white-space: nowrap;


        .title {
            display: inline-block;
            font-size: $titles-font-size;
            margin-bottom: .2rem;

            //animation: scrollText 5s linear infinite;
        }

    }

    .duration {
        font-size: $duration-font-size;
    }

    .progress {
        content: '';
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: var(--progress, 0%);
        height: 100%;
        background-color: rgba(255, 255, 255, 0.1);
        transition: all .2s linear;
    }


}

#audio-player.playing {
    border: 2px solid whitesmoke;
}



@keyframes scrollText {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(-100%);
    }


}