#audio-player {
    width: 100%;
    background: rgba(1, 1, 1, .25);
    border-radius: $titles-font-size;
    padding: 1rem;
    cursor: pointer;
    margin-top: 1rem;
    //outline: 2px solid white;

    audio {
        display: none;
    }

    .player {
        @include flexMid;
        justify-content: space-between;
    }


    .scroll-title {
        //overflow: hidden;
        width: 85%;
        //white-space: nowrap;


        .title {
            display: inline-block;
            font-size: $titles-font-size;
            margin-bottom: .2rem;

            //animation: scrollText 5s linear infinite;
        }

    }



    .duration {
        font-size: $duration-font-size;
    }
}

#audio-player.playing {
    border: 2px solid whitesmoke;
}

@keyframes scrollText {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(-100%);
    }


}